In [1]:
#imports

In [2]:
import pandas as pd

In [3]:
# Load Data

In [4]:
TRG=pd.read_csv("triggers_soc.csv")
TLM=pd.read_csv("telemetry_data.csv")
MAP=pd.read_csv("vehicle_pnid_mapping.csv")
SYN=pd.read_csv("artificial_ign_off_data.csv")

# --- Process TRG DataFrame ---
# A more direct way to drop columns containing 'Unnamed'
TRG = TRG.loc[:, ~TRG.columns.str.contains('Unnamed')]
print("\nRemoved 'Unnamed' columns from the TRG DataFrame.")
# Display the first few rows and info of the modified DataFrame
print("\n----------- TRG DataFrame (Head) -----------")
print(TRG.head())
print("\n----------- TRG DataFrame (Info) -----------")
TRG.info()


# --- Process TLM DataFrame ---
TLM = TLM.loc[:, ~TLM.columns.str.contains('Unnamed')]
print("\nRemoved 'Unnamed' columns from the TLM DataFrame.")
print("\n----------- TLM DataFrame (Head) -----------")
print(TLM.head())
print("\n----------- TLM DataFrame (Info) -----------")
TLM.info()


# --- Process MAP DataFrame ---
MAP = MAP.loc[:, ~MAP.columns.str.contains('Unnamed')]
print("\nRemoved 'Unnamed' columns from the MAP DataFrame.")
print("\n----------- MAP DataFrame (Head) -----------")
print(MAP.head())
print("\n----------- MAP DataFrame (Info) -----------")
MAP.info()


# --- Process SYN DataFrame ---
SYN = SYN.loc[:, ~SYN.columns.str.contains('Unnamed')]
print("\nRemoved 'Unnamed' columns from the SYN DataFrame.")
print("\n----------- SYN DataFrame (Head) -----------")
print(SYN.head())
print("\n----------- SYN DataFrame (Info) -----------")
SYN.info()

Removed 'Unnamed' columns from the TRG DataFrame.

----------- TRG DataFrame (Head) -----------
                            CTS       PNID          NAME   VAL
0  2021-12-01 17:58:27 IST+0530  206958332       IGN_CYL   OFF
1  2021-12-01 17:58:27 IST+0530  206958332       IGN_CYL   OFF
2  2021-12-01 17:56:24 IST+0530  206958332       IGN_CYL    ON
3  2021-12-01 17:56:24 IST+0530  206958332  CHARGE_STATE  50.1
4  2021-12-01 17:56:24 IST+0530  206958332       IGN_CYL    ON

----------- TRG DataFrame (Info) -----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68670 entries, 0 to 68669
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CTS     68670 non-null  object
 1   PNID    68670 non-null  int64
 2   NAME    68670 non-null  object
 3   VAL     68670 non-null  object
dtypes: int64(1), object(3)
memory usage: 2.1+ MB

Removed 'Unnamed' columns from the TLM DataFrame.

----------- TLM DataFrame (Head) -----------
                                     ID                            VEHICLE_ID  \
0  428bdd3a-243a-4735-b3be-4e12ec511774  66bd55df-eaf0-49c8-b9e1-7759b85e9325
1  b76e490b-8292-4b20-927c-5842bda6104a  66bd55df-eaf0-49c8-b9e1-7759b85e9325
2  40aabc8e-5a83-4772-bbd6-1d2634f20aa4  66bd55df-eaf0-49c8-b9e1-7759b85e9325
3  8f73a942-e549-4662-9f7e-e21f3d104637  66bd55df-eaf0-49c8-b9e1-7759b85e9325
4  852caadc-e582-4cd0-97cb-7f9a20c9634f  66bd55df-eaf0-49c8-b9e1-7759b85e9325

                 TIMESTAMP  SPEED IGNITION_STATUS  EV_BATTERY_LEVEL  ODOMETER
0  2021-09-23 01:45:42.018    NaN             NaN               NaN       NaN
1  2021-09-23 01:58:08.017    NaN             NaN               NaN       NaN
2  2021-09-23 01:57:02.031    NaN             NaN               NaN   38685.9
3  2021-09-23 01:38:57.002    0.0              on               NaN       NaN
4  2021-09-23 02:00:05.004    NaN             NaN               NaN       NaN

----------- TLM DataFrame (Info) -----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1833552 entries, 0 to 1833551
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   ID                object
 1   VEHICLE_ID        object
 2   TIMESTAMP         object
 3   SPEED             float64
 4   IGNITION_STATUS   object
 5   EV_BATTERY_LEVEL  float64
 6   ODOMETER          float64
dtypes: float64(3), object(4)
memory usage: 97.9+ MB

Removed 'Unnamed' columns from the MAP DataFrame.

----------- MAP DataFrame (Head) -----------
                                     ID  \
0  66bd55df-eaf0-49c8-b9e1-7759b85e9325
1  ae912623-e122-4bfb-b2a1-7d407ea42b1b
2  39424065-b3be-45e5-8f7d-b7f16a6c190a
3  fc86bd41-dd55-4d15-bb3f-35e31c7759e6
4  9893c80d-f282-46cf-a794-280f0306c936

                                                 IDS
0  [\n  "256932585",\n  "256932577",\n  "25693258...
1                                                NaN
2                                                NaN
3  [\n  "270199389",\n  "270199393",\n  "27019938...
4  [\n  "256933093",\n  "256933081",\n  "25693308...

----------- MAP DataFrame (Info) -----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      19 non-null     object
 1   IDS     13 non-null     object
dtypes: object(2)
memory usage: 436.0+ bytes

Removed 'Unnamed' columns from the SYN DataFrame.

----------- SYN DataFrame (Head) -----------
                              vehicleId                         timestamp  \
0  3e937810-3a3b-48d6-80ad-56ae12c3bed8  2022-01-31 19:13:06.001000+00:00
1  3e937810-3a3b-48d6-80ad-56ae12c3bed8  2022-01-31 04:25:05.011000+00:00
2  460a67ab-ee58-4279-b96d-ac56ac029d3e  2022-01-30 01:58:57.004000+00:00
3  9893c80d-f282-46cf-a794-280f0306c936  2022-01-30 21:43:42.027000+00:00
4  fb20e847-d2a1-4583-b874-393c9d1f3db9  2022-01-31 04:25:05.038000+00:00

               type
0  artificial_event
1  artificial_event
2  artificial_event
3  artificial_event
4  artificial_event

----------- SYN DataFrame (Info) -----------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 411 entries, 0 to 410
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   vehicleId  411 non-null    object
 1   timestamp  411 non-null    object
 2   type       411 non-null    object
dtypes: object(3)
memory usage: 9.8+ KB

In [5]:
print(TRG.isnull().sum())
TRG_duplicates = TRG.duplicated().sum()
print(f"\nFound {TRG_duplicates} duplicate rows in TRG.")
print("Displaying original and duplicate rows from TLM:")
syn_all_duplicates = TRG[TRG.duplicated(keep=False)]
print(syn_all_duplicates.sort_values(by=list(syn_all_duplicates.columns)))

CTS     0
PNID    0
NAME    0
VAL     0
dtype: int64

Found 9627 duplicate rows in TRG.
Displaying original and duplicate rows from TLM:
                                CTS       PNID          NAME   VAL
53704  2021-09-01 06:30:31 IST+0530  265888189       IGN_CYL   OFF
53856  2021-09-01 06:30:31 IST+0530  265888189       IGN_CYL   OFF
53705  2021-09-01 06:30:35 IST+0530  265888189  CHARGE_STATE  81.1
53857  2021-09-01 06:30:35 IST+0530  265888189  CHARGE_STATE  81.1
53643  2021-09-01 08:31:10 IST+0530  265888189       IGN_CYL   OFF
...                             ...        ...           ...   ...
21004  2022-01-31 05:02:33 IST+0530  256832791  CHARGE_STATE  83.5
21005  2022-01-31 05:21:25 IST+0530  256832791       IGN_CYL   OFF
21007  2022-01-31 05:21:25 IST+0530  256832791       IGN_CYL   OFF
21006  2022-01-31 05:21:30 IST+0530  256832791  CHARGE_STATE  77.2
21008  2022-01-31 05:21:30 IST+0530  256832791  CHARGE_STATE  77.2

[17424 rows x 4 columns]

In [6]:
print(TLM.isnull().sum())
tlm_duplicates = TLM.duplicated().sum()
print(f"\nFound {tlm_duplicates} duplicate rows in TLM.")
print("Displaying original and duplicate rows from TLM:")
syn_all_duplicates = TLM[TLM.duplicated(keep=False)]
print(syn_all_duplicates.sort_values(by=list(syn_all_duplicates.columns)))

ID                        0
VEHICLE_ID                0
TIMESTAMP                 0
SPEED               1481783
IGNITION_STATUS     1604060
EV_BATTERY_LEVEL    1444149
ODOMETER            1349553
dtype: int64

Found 9985 duplicate rows in TLM.
Displaying original and duplicate rows from TLM:
                                           ID  \
1169367  0015dfeb-a3d0-41af-94c5-11b9d4a390ab
1823897  0015dfeb-a3d0-41af-94c5-11b9d4a390ab
752291   002147b5-4573-415a-a2f2-0fe5cd97bf09
1828091  002147b5-4573-415a-a2f2-0fe5cd97bf09
1623789  0024bba7-95b3-48c8-925f-337a9abb0c12
...                                       ...
1829432  ffda9a62-c519-4420-ba28-7965aaa1f959
57469    fff516e5-c492-4521-8512-41ea26415185
1827949  fff516e5-c492-4521-8512-41ea26415185
927893   fffa2dee-9f42-4a3a-b172-b0d52017ac3b
1832501  fffa2dee-9f42-4a3a-b172-b0d52017ac3b

                                   VEHICLE_ID                   TIMESTAMP  \
1169367  9eb5ac45-bbf9-4a07-83d8-044372f336c7  2023-01-07 18:14:28.034000
1823897  9eb5ac45-bbf9-4a07-83d8-044372f336c7  2023-01-07 18:14:28.034000
752291   66bd55df-eaf0-49c8-b9e1-7759b85e9325     2021-09-27 01:24:19.009
1828091  66bd55df-eaf0-49c8-b9e1-7759b85e9325     2021-09-27 01:24:19.009
1623789  fc86bd41-dd55-4d15-bb3f-35e31c7759e6  2023-01-06 16:13:37.007000
...                                       ...                         ...
1829432  56d8ca94-9b18-41d1-831f-7afd905326d4  2023-01-24 05:28:10.034000
57469    66bd55df-eaf0-49c8-b9e1-7759b85e9325     2021-12-08 20:58:50.002
1827949  66bd55df-eaf0-49c8-b9e1-7759b85e9325     2021-12-08 20:58:50.002
927893   66bd55df-eaf0-49c8-b9e1-7759b85e9325     2021-10-07 23:20:33.024
1832501  66bd55df-eaf0-49c8-b9e1-7759b85e9325     2021-10-07 23:20:33.024

         SPEED IGNITION_STATUS  EV_BATTERY_LEVEL  ODOMETER
1169367    NaN             NaN               NaN   37299.3
1823897    NaN             NaN               NaN   37299.3
752291     NaN             NaN               NaN       NaN
1828091    NaN             NaN               NaN       NaN
1623789    NaN             NaN               NaN       NaN
...        ...             ...               ...       ...
1829432   63.4              on               NaN       NaN
57469      0.0             NaN               NaN       NaN
1827949    0.0             NaN               NaN       NaN
927893     NaN             NaN              52.5       NaN
1832501    NaN             NaN              52.5       NaN

[19970 rows x 7 columns]

In [7]:
print(MAP.isnull().sum())
MAP_duplicates = MAP.duplicated().sum()
print(f"\nFound {MAP_duplicates} duplicate rows in MAP.")

print("Displaying original and duplicate rows from MAP:")
syn_all_duplicates = MAP[MAP.duplicated(keep=False)]
print(syn_all_duplicates.sort_values(by=list(syn_all_duplicates.columns)))

ID     0
IDS    6
dtype: int64

Found 2 duplicate rows in MAP.
Displaying original and duplicate rows from MAP:
                                     ID  IDS
2  39424065-b3be-45e5-8f7d-b7f16a6c190a  NaN
9  39424065-b3be-45e5-8f7d-b7f16a6c190a  NaN
1  ae912623-e122-4bfb-b2a1-7d407ea42b1b  NaN
8  ae912623-e122-4bfb-b2a1-7d407ea42b1b  NaN

In [8]:
print(SYN.isnull().sum())
SYN_duplicates = SYN.duplicated().sum()
print(f"\nFound {SYN_duplicates} duplicate rows in SYN.")

vehicleId    0
timestamp    0
type         0
dtype: int64

Found 0 duplicate rows in SYN.

In [9]:
#Cleaning

In [10]:
if tlm_duplicates > 0:
    TLM.drop_duplicates(inplace=True)
if MAP_duplicates > 0:
    MAP.drop_duplicates(inplace=True)
if TRG_duplicates > 0:
    TRG.drop_duplicates(inplace=True)
if SYN_duplicates > 0:
    SYN.drop_duplicates(inplace=True)

In [11]:
from datetime import datetime
import pandas as pd

# Handles both with and without microseconds
def parse_timestamp(ts):
    try:
        return datetime.strptime(ts, "%Y-%m-%d %H:%M:%S.%f")
    except ValueError:
        return datetime.strptime(ts, "%Y-%m-%d %H:%M:%S")

# Clean and convert
TLM["TIMESTAMP"] = TLM["TIMESTAMP"].astype(str).str.strip()
TLM["TIMESTAMP"] = TLM["TIMESTAMP"].apply(parse_timestamp)

# Example for TRG
TRG['CTS'] = pd.to_datetime(TRG['CTS'])

In [12]:
TRG['CTS']

0       2021-12-01 17:58:27+05:30
2       2021-12-01 17:56:24+05:30
3       2021-12-01 17:56:24+05:30
6       2021-12-01 19:26:58+05:30
7       2021-12-01 19:27:01+05:30
                   ...
68644   2022-01-28 20:36:42+05:30
68645   2022-01-28 20:36:44+05:30
68648   2022-01-28 20:45:07+05:30
68650   2022-01-28 20:45:52+05:30
68651   2022-01-28 20:45:52+05:30
Name: CTS, Length: 59043, dtype: datetime64[ns, UTC+05:30]

In [13]:
TLM['TIMESTAMP'].isnull().sum()

0

In [14]:
#Apply Join

In [15]:
import pandas as pd
import ast

# Step 1: Initialize list to collect tuples
rows = []

# Step 2: Iterate and manually parse + build rows
for _, row in MAP.iterrows():
    try:
        id_val = row['ID']
        ids_list = ast.literal_eval(row['IDS'])
        if isinstance(ids_list, list):
            for pnid in ids_list:
                rows.append((str(pnid).strip(), id_val))
    except (ValueError, SyntaxError):
        continue  # skip malformed rows

# Step 3: Create DataFrame from rows
inverted_MAP = pd.DataFrame(rows, columns=['PNID', 'VEHICLE_ID'])

In [16]:
# Ensure PNID in TRG is string
TRG['PNID'] = TRG['PNID'].astype(str)
inverted_MAP['PNID'] = inverted_MAP['PNID'].astype(str)

# Merge TRG with inverted_MAP on 'PNID'
TRG_with_ID = pd.merge(TRG, inverted_MAP, on='PNID', how='left')

In [17]:
inverted_MAP.isnull().sum()

PNID          0
VEHICLE_ID    0
dtype: int64

In [18]:
TRG_with_ID.head()

,CTS,PNID,NAME,VAL,VEHICLE_ID
0,2021-12-01 17:58:27+05:30,206958332,IGN_CYL,OFF,NaN
1,2021-12-01 17:56:24+05:30,206958332,IGN_CYL,ON,NaN
2,2021-12-01 17:56:24+05:30,206958332,CHARGE_STATE,50.1,NaN
3,2021-12-01 19:26:58+05:30,256832791,IGN_CYL,ON,9893c80d-f282-46cf-a794-280f0306c936
4,2021-12-01 19:27:01+05:30,256832791,CHARGE_STATE,73.3,9893c80d-f282-46cf-a794-280f0306c936

In [19]:
TRG_with_ID.isna().sum()

CTS               0
PNID              0
NAME              0
VAL               0
VEHICLE_ID    39262
dtype: int64

In [20]:
TRG_with_ID = TRG_with_ID.dropna(subset=['VEHICLE_ID'])
TRG_with_ID.isna().sum()
print(TRG_with_ID.describe())
print(TRG_with_ID.head())

                                        CTS       PNID          NAME    VAL  \
count                                 24496      24496         24496  24496
unique                                  NaN          4             3    235
top                                     NaN  270129825  CHARGE_STATE    OFF
freq                                    NaN       9430         11380   5066
mean    2021-11-13 08:22:51.679090688+05:30        NaN           NaN    NaN
min               2021-09-01 05:56:15+05:30        NaN           NaN    NaN
25%     2021-10-07 05:23:51.750000128+05:30        NaN           NaN    NaN
50%        2021-11-10 22:28:05.500000+05:30        NaN           NaN    NaN
75%               2021-12-17 07:54:38+05:30        NaN           NaN    NaN
max               2022-01-31 05:21:30+05:30        NaN           NaN    NaN

                                  VEHICLE_ID
count                                  24496
unique                                     4
top     fc86bd41-dd55-4d15-bb3f-35e31c7759e6
freq                                    9430
mean                                     NaN
min                                      NaN
25%                                      NaN
50%                                      NaN
75%                                      NaN
max                                      NaN
                        CTS       PNID             NAME     VAL  \
3 2021-12-01 19:26:58+05:30  256832791          IGN_CYL      ON
4 2021-12-01 19:27:01+05:30  256832791     CHARGE_STATE    73.3
5 2021-12-01 19:57:32+05:30  256782425  EV_CHARGE_STATE  Active
6 2021-12-01 19:42:39+05:30  256782425          IGN_CYL      ON
7 2021-12-01 19:42:40+05:30  256782425     CHARGE_STATE    56.4

                             VEHICLE_ID
3  9893c80d-f282-46cf-a794-280f0306c936
4  9893c80d-f282-46cf-a794-280f0306c936
5  66bd55df-eaf0-49c8-b9e1-7759b85e9325
6  66bd55df-eaf0-49c8-b9e1-7759b85e9325
7  66bd55df-eaf0-49c8-b9e1-7759b85e9325

In [21]:
charge_state_df = TRG_with_ID[TRG_with_ID['NAME'] == 'CHARGE_STATE'].copy()
charge_state_df['VAL'] = pd.to_numeric(charge_state_df['VAL'], errors='coerce')  # force conversion

ev_charge_state_df = TRG_with_ID[TRG_with_ID['NAME'] == 'EV_CHARGE_STATE'].copy()
ignition_cycle_df = TRG_with_ID[TRG_with_ID['NAME'] == 'IGN_CYL'].copy()

for df in [charge_state_df, ev_charge_state_df, ignition_cycle_df]:
    df.reset_index(drop=True, inplace=True)
    print(df.describe())
    print("\n------Sample of df after splitting------\n")
    print(df.head())

                VAL
count  11380.000000
mean      64.011432
std       17.372182
min        0.700000
25%       52.100000
50%       66.600000
75%       76.800000
max      100.000000

------Sample of df after splitting------

                        CTS       PNID          NAME   VAL  \
0 2021-12-01 19:27:01+05:30  256832791  CHARGE_STATE  73.3
1 2021-12-01 19:42:40+05:30  256782425  CHARGE_STATE  56.4
2 2021-12-01 19:56:07+05:30  256782425  CHARGE_STATE  47.4
3 2021-12-01 19:56:12+05:30  256782425  CHARGE_STATE  47.4
4 2021-12-06 22:43:59+05:30  256782425  CHARGE_STATE  77.2

                             VEHICLE_ID
0  9893c80d-f282-46cf-a794-280f0306c936
1  66bd55df-eaf0-49c8-b9e1-7759b85e9325
2  66bd55df-eaf0-49c8-b9e1-7759b85e9325
3  66bd55df-eaf0-49c8-b9e1-7759b85e9325
4  66bd55df-eaf0-49c8-b9e1-7759b85e9325
                                        CTS       PNID             NAME  \
count                                  3181       3181             3181
unique                                  NaN          4                1
top                                     NaN  270129825  EV_CHARGE_STATE
freq                                    NaN       1730             3181
mean    2021-11-13 20:23:30.653882624+05:30        NaN              NaN
min               2021-09-01 20:21:05+05:30        NaN              NaN
25%               2021-10-06 21:03:01+05:30        NaN              NaN
50%               2021-11-11 07:42:26+05:30        NaN              NaN
75%               2021-12-24 00:03:13+05:30        NaN              NaN
max               2022-01-31 04:52:21+05:30        NaN              NaN

           VAL                            VEHICLE_ID
count     3181                                  3181
unique       3                                     4
top     Active  fc86bd41-dd55-4d15-bb3f-35e31c7759e6
freq      1849                                  1730
mean       NaN                                   NaN
min        NaN                                   NaN
25%        NaN                                   NaN
50%        NaN                                   NaN
75%        NaN                                   NaN
max        NaN                                   NaN

------Sample of df after splitting------

                        CTS       PNID             NAME      VAL  \
0 2021-12-01 19:57:32+05:30  256782425  EV_CHARGE_STATE   Active
1 2021-12-06 22:43:33+05:30  256782425  EV_CHARGE_STATE  Aborted
2 2021-12-07 01:49:27+05:30  256782425  EV_CHARGE_STATE  Aborted
3 2021-12-07 01:49:57+05:30  256782425  EV_CHARGE_STATE  Aborted
4 2021-12-07 02:03:32+05:30  256782425  EV_CHARGE_STATE  Aborted

                             VEHICLE_ID
0  66bd55df-eaf0-49c8-b9e1-7759b85e9325
1  66bd55df-eaf0-49c8-b9e1-7759b85e9325
2  66bd55df-eaf0-49c8-b9e1-7759b85e9325
3  66bd55df-eaf0-49c8-b9e1-7759b85e9325
4  66bd55df-eaf0-49c8-b9e1-7759b85e9325
                                        CTS       PNID     NAME   VAL  \
count                                  9935       9935     9935  9935
unique                                  NaN          4        1     2
top                                     NaN  270129825  IGN_CYL   OFF
freq                                    NaN       3286     9935  5066
mean    2021-11-13 00:07:17.062103808+05:30        NaN      NaN   NaN
min               2021-09-01 05:56:15+05:30        NaN      NaN   NaN
25%               2021-10-07 06:02:15+05:30        NaN      NaN   NaN
50%               2021-11-10 06:43:23+05:30        NaN      NaN   NaN
75%               2021-12-16 01:04:08+05:30        NaN      NaN   NaN
max               2022-01-31 05:21:25+05:30        NaN      NaN   NaN

                                  VEHICLE_ID
count                                   9935
unique                                     4
top     fc86bd41-dd55-4d15-bb3f-35e31c7759e6
freq                                    3286
mean                                     NaN
min                                      NaN
25%                                      NaN
50%                                      NaN
75%                                      NaN
max                                      NaN

------Sample of df after splitting------

                        CTS       PNID     NAME  VAL  \
0 2021-12-01 19:26:58+05:30  256832791  IGN_CYL   ON
1 2021-12-01 19:42:39+05:30  256782425  IGN_CYL   ON
2 2021-12-01 19:56:01+05:30  256782425  IGN_CYL  OFF
3 2021-12-01 19:56:08+05:30  256782425  IGN_CYL   ON
4 2021-12-01 19:56:34+05:30  256782425  IGN_CYL  OFF

                             VEHICLE_ID
0  9893c80d-f282-46cf-a794-280f0306c936
1  66bd55df-eaf0-49c8-b9e1-7759b85e9325
2  66bd55df-eaf0-49c8-b9e1-7759b85e9325
3  66bd55df-eaf0-49c8-b9e1-7759b85e9325
4  66bd55df-eaf0-49c8-b9e1-7759b85e9325

In [22]:
dfs=[charge_state_df, ev_charge_state_df, ignition_cycle_df, TLM, SYN]

In [23]:
#Outlier Analysis

In [24]:
import pandas as pd
import numpy as np
from scipy import stats

def detect_outliers(df, method='IQR', threshold=1.5, z_thresh=3.0, verbose=True):
    """
    Perform outlier detection on numeric columns of a DataFrame.
    Automatically converts numeric-looking object columns.
    
    Parameters:
        df (pd.DataFrame): Input DataFrame.
        method (str): 'IQR' or 'Z-score'.
        threshold (float): IQR multiplier (default 1.5).
        z_thresh (float): Z-score threshold (default 3.0).
        verbose (bool): Print debug info.
    
    Returns:
        pd.DataFrame: Boolean DataFrame marking outliers.
    """
    # Try converting object columns that look numeric
    df_cleaned = df.copy()
    for col in df_cleaned.select_dtypes(include='object').columns:
        try:
            df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='ignore')
        except Exception:
            pass  # leave non-convertible columns as-is

    df_numeric = df_cleaned.select_dtypes(include=[np.number])
    if verbose:
        print("Numeric columns detected:", list(df_numeric.columns))
    
    if df_numeric.empty:
        if verbose:
            print("No numeric columns found. Skipping outlier detection.")
        return pd.DataFrame(index=df.index)
    
    outliers = pd.DataFrame(index=df.index)

    if method == 'IQR':
        for col in df_numeric.columns:
            Q1 = df_numeric[col].quantile(0.25)
            Q3 = df_numeric[col].quantile(0.75)
            IQR = Q3 - Q1
            lower_bound = Q1 - threshold * IQR
            upper_bound = Q3 + threshold * IQR
            outliers[col + '_outlier'] = ~df_numeric[col].between(lower_bound, upper_bound)
    elif method == 'Z-score':
        z_scores = np.abs(stats.zscore(df_numeric, nan_policy='omit'))
        if isinstance(z_scores, np.ndarray):
            z_scores = pd.DataFrame(z_scores, columns=df_numeric.columns, index=df.index)
        for col in df_numeric.columns:
            outliers[col + '_outlier'] = z_scores[col] > z_thresh
    else:
        raise ValueError("Method must be 'IQR' or 'Z-score'")
    
    return outliers

In [25]:
for df in dfs:

    outliers = detect_outliers(df, method='IQR')
    print(outliers.sum())  # Count of outliers per column


    print("---------------------------------\n\n")

C:\Users\Abhiram Sharma\AppData\Local\Temp\ipykernel_14652\226245729.py:24: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='ignore')
C:\Users\Abhiram Sharma\AppData\Local\Temp\ipykernel_14652\226245729.py:24: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='ignore')
C:\Users\Abhiram Sharma\AppData\Local\Temp\ipykernel_14652\226245729.py:24: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='ignore')

Numeric columns detected: ['PNID', 'VAL']
PNID_outlier     0
VAL_outlier     36
dtype: int64
---------------------------------


Numeric columns detected: ['PNID']
PNID_outlier    0
dtype: int64
---------------------------------


Numeric columns detected: ['PNID']
PNID_outlier    0
dtype: int64
---------------------------------

C:\Users\Abhiram Sharma\AppData\Local\Temp\ipykernel_14652\226245729.py:24: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='ignore')

Numeric columns detected: ['SPEED', 'EV_BATTERY_LEVEL', 'ODOMETER']
SPEED_outlier               1475671
EV_BATTERY_LEVEL_outlier    1436986
ODOMETER_outlier            1415107
dtype: int64
---------------------------------


Numeric columns detected: []
No numeric columns found. Skipping outlier detection.
Series([], dtype: float64)
---------------------------------

C:\Users\Abhiram Sharma\AppData\Local\Temp\ipykernel_14652\226245729.py:24: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_cleaned[col] = pd.to_numeric(df_cleaned[col], errors='ignore')

In [26]:
#utliers in TLM are ignored due to NAN

In [27]:
#Making Ignition Status Table

In [28]:
# Step 1: Standardize both subsets to have the same 3 columns
tlm_subset = TLM[['VEHICLE_ID', 'IGNITION_STATUS', 'TIMESTAMP']].rename(columns={
    'IGNITION_STATUS': 'VAL',
    'TIMESTAMP': 'TS'
})

ign_subset = ignition_cycle_df[['VEHICLE_ID', 'VAL', 'CTS']].rename(columns={
    'CTS': 'TS'
})

# Step 2: Combine (append) both DataFrames vertically
merged_df = pd.concat([tlm_subset, ign_subset], ignore_index=True)

# Step 3: Convert and unify timestamp column
merged_df['TS'] = pd.to_datetime(merged_df['TS'], errors='coerce')

# If some are tz-naive and some tz-aware, force all to UTC
if merged_df['TS'].dt.tz is None:
    merged_df['TS'] = merged_df['TS'].dt.tz_localize('UTC')
else:
    merged_df['TS'] = merged_df['TS'].dt.tz_convert('UTC')

# Step 4: Now safely sort
Ignitionstatus_df = merged_df.sort_values(by='TS').reset_index(drop=True)

In [29]:
Ignitionstatus_df.head()

                             VEHICLE_ID  VAL                               TS
0  ae912623-e122-4bfb-b2a1-7d407ea42b1b  NaN 2021-09-01 00:00:02.569000+00:00
1  fc86bd41-dd55-4d15-bb3f-35e31c7759e6  NaN 2021-09-01 00:00:09.037000+00:00
2  fc86bd41-dd55-4d15-bb3f-35e31c7759e6  NaN 2021-09-01 00:00:09.039000+00:00
3  fc86bd41-dd55-4d15-bb3f-35e31c7759e6  NaN 2021-09-01 00:00:10.040000+00:00
4  fc86bd41-dd55-4d15-bb3f-35e31c7759e6   on 2021-09-01 00:00:23.002000+00:00

In [30]:
Ignitionstatus_df.isna().sum()
# Drop rows where VAL is NaN
Ignitionstatus_df = Ignitionstatus_df.dropna(subset=['VAL','TS']).reset_index(drop=True)
Ignitionstatus_df['VAL'] = Ignitionstatus_df['VAL'].astype(str).str.strip().str.upper()

In [31]:
Ignitionstatus_df

,VEHICLE_ID,VAL,TS
0,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,ON,2021-09-01 00:00:23.002000+00:00
1,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,ON,2021-09-01 00:00:54.011000+00:00
2,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,ON,2021-09-01 00:01:25.020000+00:00
3,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,ON,2021-09-01 00:01:56.029000+00:00
4,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,ON,2021-09-01 00:02:27.002000+00:00
...,...,...,...
228211,8ce8b281-3c5e-4b17-a863-630b9fc813dc,ON,2023-01-30 23:59:08.006000+00:00
228212,ef67f6d6-196a-4bc0-94fa-c13ad9672dac,ON,2023-01-30 23:59:24.002000+00:00
228213,56d8ca94-9b18-41d1-831f-7afd905326d4,ON,2023-01-30 23:59:29.011000+00:00
228214,8ce8b281-3c5e-4b17-a863-630b9fc813dc,ON,2023-01-30 23:59:39.015000+00:00
228215,ef67f6d6-196a-4bc0-94fa-c13ad9672dac,ON,2023-01-30 23:59:55.011000+00:00

In [32]:
# Making Battery level table

In [33]:
# Step 1: Extract and rename
charge_battery_df = charge_state_df[['VEHICLE_ID', 'VAL', 'CTS']].rename(columns={
    'VAL': 'BATTERY_LEVEL',
    'CTS': 'TS'
})

tlm_battery_df = TLM[['VEHICLE_ID', 'EV_BATTERY_LEVEL', 'TIMESTAMP']].rename(columns={
    'EV_BATTERY_LEVEL': 'BATTERY_LEVEL',
    'TIMESTAMP': 'TS'
})

# Step 2: Concatenate
Battery_df = pd.concat([charge_battery_df, tlm_battery_df], ignore_index=True)

# Step 3: Convert battery values to numeric, but do NOT drop NaNs
Battery_df['BATTERY_LEVEL'] = pd.to_numeric(Battery_df['BATTERY_LEVEL'], errors='coerce')

# Step 4: Handle timestamps properly
def safe_parse_ts(ts):
    try:
        return pd.to_datetime(ts, utc=True)
    except Exception:
        return pd.NaT

Battery_df['TS'] = Battery_df['TS'].apply(safe_parse_ts)

# Step 5: Sort (NaT goes to end, not dropped)
Battery_df = Battery_df.sort_values(by='TS', na_position='last').reset_index(drop=True)

# Step 6: Save
Battery_df.to_csv('Battery_Data.csv', index=False)

# Optional diagnostics
print("Total rows:", len(Battery_df))
print("Rows with missing timestamps:", Battery_df['TS'].isna().sum())
print("Rows with missing battery level:", Battery_df['BATTERY_LEVEL'].isna().sum())

Total rows: 1834947
Rows with missing timestamps: 0
Rows with missing battery level: 1436384

In [34]:
Battery_df

,VEHICLE_ID,BATTERY_LEVEL,TS
0,ae912623-e122-4bfb-b2a1-7d407ea42b1b,NaN,2021-09-01 00:00:02.569000+00:00
1,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,NaN,2021-09-01 00:00:09.037000+00:00
2,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,NaN,2021-09-01 00:00:09.039000+00:00
3,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,NaN,2021-09-01 00:00:10.040000+00:00
4,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,NaN,2021-09-01 00:00:23.002000+00:00
...,...,...,...
1834942,ef67f6d6-196a-4bc0-94fa-c13ad9672dac,NaN,2023-01-30 23:59:55.013000+00:00
1834943,ef67f6d6-196a-4bc0-94fa-c13ad9672dac,33.3,2023-01-30 23:59:57.015000+00:00
1834944,ef67f6d6-196a-4bc0-94fa-c13ad9672dac,NaN,2023-01-30 23:59:57.016000+00:00
1834945,ef67f6d6-196a-4bc0-94fa-c13ad9672dac,NaN,2023-01-30 23:59:58.017000+00:00
1834946,ef67f6d6-196a-4bc0-94fa-c13ad9672dac,NaN,2023-01-30 23:59:58.018000+00:00

In [35]:
# make charging staus event

In [36]:
# Create charging_status_event table from EV_CHARGE_STATE
charging_status_event = (
    ev_charge_state_df
      # Step 1: Select only the three required columns
      [['VEHICLE_ID', 'VAL', 'CTS']]
      # Step 2: Rename CTS to TS for consistency
      .rename(columns={'CTS': 'TS'})
      # Step 3: Reset index to produce a clean table
      .reset_index(drop=True)
      # Step 4: (Optional) Ensure VAL and TS are of the desired dtype
      #   VAL    : leave as-is if mixed; or pd.to_numeric(..., errors='coerce')
      #   TS     : leave as raw string; or pd.to_datetime(...) if parsing is needed
)

# Preview
print(charging_status_event.head())

                             VEHICLE_ID      VAL                        TS
0  66bd55df-eaf0-49c8-b9e1-7759b85e9325   Active 2021-12-01 19:57:32+05:30
1  66bd55df-eaf0-49c8-b9e1-7759b85e9325  Aborted 2021-12-06 22:43:33+05:30
2  66bd55df-eaf0-49c8-b9e1-7759b85e9325  Aborted 2021-12-07 01:49:27+05:30
3  66bd55df-eaf0-49c8-b9e1-7759b85e9325  Aborted 2021-12-07 01:49:57+05:30
4  66bd55df-eaf0-49c8-b9e1-7759b85e9325  Aborted 2021-12-07 02:03:32+05:30

In [37]:
import pandas as pd

# Assume these DataFrames already exist:
#   charging_status_event: VEHICLE_ID, VAL, TS
#   Ignitionstatus_df:     VEHICLE_ID, VAL, TS

# Step 1: Tag each source with a TYPE
charging_status_event['TYPE'] = 'CHARGE'
Ignitionstatus_df['TYPE']       = 'IGNITION'

# Step 2: Standardize column names (VEHICLE_ID → VID)
chg_events = charging_status_event.rename(columns={'VEHICLE_ID':'VID'})[['VID','TYPE','VAL','TS']]
ign_events = Ignitionstatus_df      .rename(columns={'VEHICLE_ID':'VID'})[['VID','TYPE','VAL','TS']]

# Step 3: Concatenate into the master EVENTS table
EVENTS = pd.concat([chg_events, ign_events], ignore_index=True)

# (Optional) Sort by VID and TS string order
EVENTS = EVENTS.sort_values(['VID','TS'], na_position='last').reset_index(drop=True)

# Preview
print(EVENTS.head())

                                    VID      TYPE      VAL  \
0  026af092-a01e-4b0a-af38-f459725dabc6  IGNITION  UNKNOWN
1  026af092-a01e-4b0a-af38-f459725dabc6  IGNITION  UNKNOWN
2  026af092-a01e-4b0a-af38-f459725dabc6  IGNITION  UNKNOWN
3  026af092-a01e-4b0a-af38-f459725dabc6  IGNITION  UNKNOWN
4  026af092-a01e-4b0a-af38-f459725dabc6  IGNITION  UNKNOWN

                                 TS
0  2023-01-01 16:57:56.699000+00:00
1  2023-01-01 17:49:22.838000+00:00
2  2023-01-03 14:04:28.196000+00:00
3  2023-01-06 03:15:29.994000+00:00
4  2023-01-06 07:45:11.710000+00:00

In [38]:
# Summary counts for your DataFrames

def print_entry_counts(dfs):
    """
    Prints the total number of rows in each DataFrame provided.
    
    Parameters:
        dfs (dict): A dictionary mapping names to pd.DataFrame objects.
    """
    for name, df in dfs.items():
        print(f"{name}: {df.shape[0]} entries")

# Define your DataFrames in a dict
dataframes = {
    'charging_status_event': charging_status_event,
    'Ignitionstatus_df':      Ignitionstatus_df,
    'EVENTS':                 EVENTS
}

# Execute the summary
print_entry_counts(dataframes)

charging_status_event: 3181 entries
Ignitionstatus_df: 228216 entries
EVENTS: 231397 entries

In [39]:
#Synthetic control data

In [40]:
import pandas as pd

# Create a new DataFrame with transformed values from SYN
new_events = pd.DataFrame({
    'VID': SYN['vehicleId'],
    'TYPE': 'IGNITION',
    'VAL': 'OFF',
    'TS': SYN['timestamp']
})

# Append to existing EVENTS DataFrame
EVENTS = pd.concat([EVENTS, new_events], ignore_index=True)

In [41]:
EVENTS.to_csv('events.csv', index=False)

In [42]:
import pandas as pd
import numpy as np

# Assume EVENTS and Battery_df already exist

# 1. Rename Battery_df VEHICLE_ID → VID
batt = Battery_df.rename(columns={'VEHICLE_ID': 'VID'})

# 2. A “parse or drop” that forces UTC on every timestamp
def parse_or_drop_utc(df, ts_col):
    parsed_idx = []
    parsed_dt  = []
    for i, ts in df[ts_col].items():
        try:
            # parse with UTC — makes everything datetime64[ns, UTC]
            dt = pd.to_datetime(ts, utc=True)
            parsed_idx.append(i)
            parsed_dt .append(dt)
        except Exception:
            # drop row if it fails
            continue
    df_clean = df.loc[parsed_idx].copy()
    df_clean['TS_parsed'] = parsed_dt
    return df_clean.reset_index(drop=True)

EVENTS_clean = parse_or_drop_utc(EVENTS,    'TS')
batt_clean   = parse_or_drop_utc(batt,      'TS')

# 3. Sort
EVENTS_clean = EVENTS_clean.sort_values(['VID','TS_parsed']).reset_index(drop=True)
batt_clean   = batt_clean  .sort_values(['VID','TS_parsed']).reset_index(drop=True)

# 4. Now both TS_parsed columns are datetime64[ns, UTC] → merge_asof will work

tolerance = pd.Timedelta(seconds=300)

# Ensure both are sorted by ['VID','TS_parsed'] right before merging
EVENTS_sorted = EVENTS_clean.sort_values(['VID','TS_parsed']).reset_index(drop=True)
batt_sorted   = batt_clean  .sort_values(['VID','TS_parsed']).reset_index(drop=True)

In [43]:
EVENTS_sorted.dtypes

VID                       object
TYPE                      object
VAL                       object
TS                        object
TS_parsed    datetime64[ns, UTC]
dtype: object

In [49]:
batt_sorted.dtypes

VID                           object
BATTERY_LEVEL                float64
TS               datetime64[ns, UTC]
TS_parsed        datetime64[ns, UTC]
dtype: object

In [50]:
EVENTS_sorted.to_csv('Sortedevents.csv', index=False)

In [51]:
batt_sorted.to_csv('Sortedbattery.csv', index=False)

In [45]:
# combining Battery and Events tables

In [46]:
import math

def preprocess_battery_data(battery_df):
    """
    Converts the battery data from a list of records into a dictionary
    for efficient lookups.

    Args:
        battery_df: A list of dictionaries, where each dictionary represents
                    a battery reading record. Each record must have 'VID',
                    'TS_parsed', and 'Battery_Level'.

    Returns:
        A dictionary where each key is a 'VID' and each value is a sorted
        list of (timestamp, battery_level) tuples.
        Example: {'vid_1': [(ts1, 99.8), (ts2, 99.7), ...]}
    """
    battery_lookup = {}
    for row in battery_df:
        vid = row['VID']
        ts = row['TS_parsed']
        level = row['BATTERY_LEVEL']
        
        # If the VID is not yet in our dictionary, initialize it with an empty list
        if vid not in battery_lookup:
            battery_lookup[vid] = []
            
        # Append the (timestamp, level) tuple. The data is pre-sorted,
        # so this list will remain sorted by timestamp.
        battery_lookup[vid].append((ts, level))
        
    return battery_lookup

def find_closest_battery_level(vid, event_ts, battery_lookup, time_threshold_seconds):
    """
    Finds the closest battery level for a given event, using binary search.

    Args:
        vid: The vehicle ID for the event.
        event_ts: The timestamp of the event.
        battery_lookup: The pre-processed dictionary of battery data.
        time_threshold_seconds: The maximum allowed time difference (in seconds)
                                for a valid match.

    Returns:
        The battery level if a valid match is found within the threshold,
        otherwise None.
    """
    # Step 1: Check if we have any battery data for this vehicle ID.
    if vid not in battery_lookup:
        return None
        
    vehicle_battery_readings = battery_lookup[vid]
    
    # We only need the timestamps for the binary search.
    battery_timestamps = [reading[0] for reading in vehicle_battery_readings]

    # Step 2: Perform a binary search to find the "insertion point" for the
    # event timestamp in the sorted list of battery timestamps. This is the
    # most efficient way to find the nearest neighbors.
    
    low, high = 0, len(battery_timestamps) - 1
    # This will hold the index of the best candidate found so far.
    best_match_idx = -1

    # Standard binary search loop
    while low <= high:
        mid = (low + high) // 2
        if battery_timestamps[mid] == event_ts:
            best_match_idx = mid
            break # Exact match found, no need to search further.
        elif battery_timestamps[mid] < event_ts:
            low = mid + 1
        else:
            high = mid - 1

    # Step 3: If no exact match was found, the closest timestamps will be
    # neighbors of the final 'low' index from the binary search.
    if best_match_idx == -1:
        # 'low' is the insertion point. The candidates are at 'low' and 'low - 1'.
        # We must check if these indices are valid.
        idx1 = low - 1
        idx2 = low

        # Determine which of the two candidates is closer.
        diff1 = abs(event_ts - battery_timestamps[idx1]) if idx1 >= 0 else float('inf')
        diff2 = abs(event_ts - battery_timestamps[idx2]) if idx2 < len(battery_timestamps) else float('inf')

        if diff1 < diff2:
            best_match_idx = idx1
        else:
            best_match_idx = idx2

    # Step 4: Validate the best match against the time threshold.
    if best_match_idx != -1 and best_match_idx < len(battery_timestamps):
        closest_ts = battery_timestamps[best_match_idx]
        time_difference = abs(event_ts - closest_ts)
        time_difference_in_seconds = time_difference.total_seconds()
        
        if time_difference_in_seconds <= time_threshold_seconds:
            # If valid, return the corresponding battery level.
            return vehicle_battery_readings[best_match_idx][1]

    # If no suitable match was found within the threshold.
    return None

def merge_events_with_battery_data(events_df, battery_df):
    """
    Main function to orchestrate the merging process.

    Args:
        events_df: The list of event records.
        battery_df: The list of battery records.

    Returns:
        A new list of 'EVENTS_Final' records, with the 'Battery_Level' column added.
    """
    print("Step 1: Pre-processing battery data for fast lookups...")
    battery_lookup = preprocess_battery_data(battery_df)
    print("Done.\n")
    
    EVENTS_Final = []
    time_threshold = 300 # +/- 300 seconds

    print("Step 2: Iterating through events and finding matching battery levels...")
    for event in events_df:
        vid = event['VID']
        event_ts = event['TS_parsed']
        
        # Find the battery level using our efficient search function.
        battery_level = find_closest_battery_level(vid, event_ts, battery_lookup, time_threshold)
        
        # Create the new record for the final dataframe.
        final_event_record = {
            'VID': vid,
            'TS': event['TS'],
            'TYPE': event['TYPE'],
            'VAL': event['VAL'],
            'BATTERY_LEVEL': battery_level # This will be None if no match was found
        }
        EVENTS_Final.append(final_event_record)
    print("Done.\n")
    
    return EVENTS_Final

In [47]:
# --- Sample Data ---
# In a real scenario, this data would be loaded from files.
# Data is sorted by VID, then TS_parsed as specified.
Battery_df = [
    {'VID': 'vehicle_1', 'TS_parsed': 1672531200, 'BATTERY_LEVEL': 99.8}, # 2023-01-01 00:00:00
    {'VID': 'vehicle_1', 'TS_parsed': 1672531400, 'BATTERY_LEVEL': 99.7},
    {'VID': 'vehicle_1', 'TS_parsed': 1672531800, 'BATTERY_LEVEL': 99.5}, # 00:10:00
    {'VID': 'vehicle_1', 'TS_parsed': 1672532400, 'BATTERY_LEVEL': 99.1}, # 00:20:00
    {'VID': 'vehicle_2', 'TS_parsed': 1672531200, 'BATTERY_LEVEL': 85.0}, # 00:00:00
    {'VID': 'vehicle_2', 'TS_parsed': 1672531500, 'BATTERY_LEVEL': 84.5}, # 00:05:00
    {'VID': 'vehicle_2', 'TS_parsed': 1672531800, 'BATTERY_LEVEL': 84.0}, # 00:10:00
]

EVENTS = [
    # This event is very close to a battery reading (100 seconds away)
    {'VID': 'vehicle_1', 'TS': '2023-01-01 00:08:20', 'TS_parsed': 1672531700, 'TYPE': 'ACCEL', 'VAL': 2.5},
    # This event is exactly at a battery reading timestamp
    {'VID': 'vehicle_1', 'TS': '2023-01-01 00:10:00', 'TS_parsed': 1672531800, 'TYPE': 'BRAKE', 'VAL': -3.1},
    # This event is too far from any reading for vehicle_1 (> 300s)
    {'VID': 'vehicle_1', 'TS': '2023-01-01 00:15:01', 'TS_parsed': 1672532101, 'TYPE': 'IDLE', 'VAL': 0},
    # This event for vehicle_2 is closest to the 00:05:00 reading
    {'VID': 'vehicle_2', 'TS': '2023-01-01 00:06:00', 'TS_parsed': 1672531560, 'TYPE': 'TURN', 'VAL': 0.8},
    # This event is for a vehicle that has no battery data
    {'VID': 'vehicle_3', 'TS': '2023-01-01 00:00:30', 'TS_parsed': 1672531230, 'TYPE': 'START', 'VAL': 1},
]

# --- Main Execution ---
EVENTS_Final = merge_events_with_battery_data(EVENTS, Battery_df)

# --- Verification Mechanism ---
print("Step 3: Verification of the results...")
print("--------------------------------------------------")
print("Generated EVENTS_Final DataFrame:")
for row in EVENTS_Final:
    print(row)
print("--------------------------------------------------\n")

print("Manual Check for a few cases:\n")

# Case 1: A close match
print("--- Check Case 1: vehicle_1 at 00:08:20 ---")
event_to_check = EVENTS[0]
result_to_check = EVENTS_Final[0]
print(f"Original Event: {event_to_check}")
print(f"Event Timestamp: {event_to_check['TS_parsed']}")
print("Relevant Battery Readings for vehicle_1:")
print("  - TS: 1672531400 (Level: 99.7), Diff: |1672531700 - 1672531400| = 300")
print("  - TS: 1672531800 (Level: 99.5), Diff: |1672531700 - 1672531800| = 100 <-- Closest")
print(f"Resulting Record: {result_to_check}")
print(f"Conclusion: Correctly matched to 99.5 as it's the closest reading within 300s.\n")

# Case 2: A match outside the time threshold
print("--- Check Case 2: vehicle_1 at 00:15:01 ---")
event_to_check = EVENTS[2]
result_to_check = EVENTS_Final[2]
print(f"Original Event: {event_to_check}")
print(f"Event Timestamp: {event_to_check['TS_parsed']}")
print("Relevant Battery Readings for vehicle_1:")
print("  - TS: 1672531800 (Level: 99.5), Diff: |1672532101 - 1672531800| = 301 <-- Closest but > 300s")
print("  - TS: 1672532400 (Level: 99.1), Diff: |1672532101 - 1672532400| = 299 <-- Not the closest")
print(f"Resulting Record: {result_to_check}")
print(f"Conclusion: Correctly assigned None as the closest reading is outside the 300s threshold.\n")

# Case 3: A vehicle with no data
print("--- Check Case 3: vehicle_3 ---")
event_to_check = EVENTS[4]
result_to_check = EVENTS_Final[4]
print(f"Original Event: {event_to_check}")
print("Relevant Battery Readings for vehicle_3: None exist.")
print(f"Resulting Record: {result_to_check}")
print(f"Conclusion: Correctly assigned None as there is no battery data for this VID.\n")

Step 1: Pre-processing battery data for fast lookups...
Done.

Step 2: Iterating through events and finding matching battery levels...

AttributeError: 'int' object has no attribute 'total_seconds'

In [52]:
battery_df_list = batt_sorted.to_dict('records')
events_df_list = EVENTS_sorted.to_dict('records')

# 2. Call the existing function with the converted data
EVENTS_Final_list = merge_events_with_battery_data(events_df_list, battery_df_list)

# 3. (Optional) If you want the final result as a pandas DataFrame:
import pandas as pd
EVENTS_Final_df = pd.DataFrame(EVENTS_Final_list)

# Now you can work with EVENTS_Final_df
print(EVENTS_Final_df)

Step 1: Pre-processing battery data for fast lookups...
Done.

Step 2: Iterating through events and finding matching battery levels...

KeyboardInterrupt:

In [ ]:
# Compute and assert all matches satisfy the SLA
delta = (EVENTS_Final['TS'] - 
         EVENTS_Final['TS_bat'] if 'TS_bat' in EVENTS_Final 
         else pd.Series(0))
delta_secs = delta.abs().dt.total_seconds()
assert (delta_secs <= 300).all(), "Some matches exceed ±300 s"

missing = EVENTS_Final['Battery_Level'].isna().sum()
print(f"✔ {len(EVENTS_Final)-missing} matched | ⚠ {missing} unmatched")